snippet guard "Include Guard"
#ifndef `!v expand('%:t:r')`_H
#define `!v expand('%:t:r')`_H

$1

#endif
endsnippet



snippet cl "Include Guard"
class  ${1:`!v expand('%:t:r')`} {
private:
	
public:
	$1();
	~$1();
};
endsnippet


snippet pe "Print Error"
std::printf(" `!v expand('%:t:r')`::Error:$1");
endsnippet


snippet for "For Loop"
for (int $1 = 0; $1 < $2; $1++) {
	$3
}
endsnippet
